## **Homework 2**

### Create a copy of the notebook to start answering the questions. Name your notebook in the format HW1_lastname_firstname.ipynb to facilitate the grading process. 

### Answer all the questions, test your code to ensure there are no errors and the results are as expected. Once you have answered all the questions, save the final copy, then go to File-> click on Download.ipynb. Once the local copy has been downloaded, submit your file on Blackboard under the corresponding assignment section. Also provide us a link to your notebook during submission. 

### **The due date of this homework is 02/12/2021 (Friday).**

### Please ensure you follow all the steps mentioned in the homework.

### All the questions have a sample input and output to help you understand the question.

### You can submit your solutions any number of times until the deadline.

**Q1. Lets consider your data is like the below cell:**

**Q1-1**: Write a program that create a dataframe from the data.

**Q1-2:** Select people that are psychologist or teacher and their number of cars is greater than their family size.

**Q1-3:** Select people who have at most 2 family members and at least 1 car.

**Q1-4:** Write a code that get number of unique jobs in this dataset.

In [ ]:
data = {"name": ["Joseph", "Jacob", "Sam", "Jesee", "Ryan", "Lisa", "Lee"],
        "job": ["teacher", "psychologist", "data scientist", "software developer", "psychologist", "psychologist", "teacher"],
        "family_size": [3, 2, 1, 4, 2, 3, 2],
        "num_cars": [3, 1, 1, 2, 2, 4, 1]}

In [16]:
#Q1-1: Printed for clarity 
import pandas as pd
print("Q1-1: \n")
data = {"name": ["Joseph", "Jacob", "Sam", "Jesee", "Ryan", "Lisa", "Lee"],
        "job": ["teacher", "psychologist", "data scientist", "software developer", "psychologist", "psychologist", "teacher"],
        "family_size": [3, 2, 1, 4, 2, 3, 2],
        "num_cars": [3, 1, 1, 2, 2, 4, 1]}
frame = pd.DataFrame(data)
print(frame)

#Q1-2
print("\n Q1-2: \n")
#frame[(frame["job"]== "psychologist") | & ( frame["num_cars"]> frame["family_size"])]
newframe = frame[((frame["job"] == "psychologist") | (frame["job"]== "teacher")) & (frame["num_cars"]> frame["family_size"])]
print(newframe)
                          
#Q1-3
print("\n Q1-3: \n")
xframe = frame[(frame["family_size"] <=2 ) & (frame["num_cars"] >=1) ]
print(xframe)

#Q1-4
print("\n Q1-4: \n")
num = 0
cyc = []
for i in range(0, len(frame["job"])):
  if frame["job"][i] not in cyc:
    cyc.append(frame["job"][i])
    num += 1
print("Number of unique jobs: ", num)

Q1-1:

     name                 job  family_size  num_cars
0  Joseph             teacher            3         3
1   Jacob        psychologist            2         1
2     Sam      data scientist            1         1
3   Jesee  software developer            4         2
4    Ryan        psychologist            2         2
5    Lisa        psychologist            3         4
6     Lee             teacher            2         1

 Q1-2:

   name           job  family_size  num_cars
5  Lisa  psychologist            3         4

 Q1-3:

    name             job  family_size  num_cars
1  Jacob    psychologist            2         1
2    Sam  data scientist            1         1
4   Ryan    psychologist            2         2
6    Lee         teacher            2         1

 Q1-4:

Number of unique jobs:  4

**Q2. Lets consider you have two series like the below cell. Compute the mean of weights of each fruit.**

In [11]:
import numpy as np
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

In [6]:
import numpy as np
import pandas as pd
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
weights.groupby(fruit).mean()

apple     7.5
banana    4.0
carrot    6.0
dtype: float64

**Q3. Consider the below course_name array:**

**Q3-1**: Write a NumPy program to get the indices of the sorted elements of **course_name** array.

**Q3-2:** Write numpy code to check whether each element of **course_name** array starts with "P".

In [ ]:
import numpy as np
course_name = np.array(['Python', 'JS', 'examples', 'PHP', 'html'])

In [7]:
#Q3-1
import numpy as np
course_name = np.array(['Python', 'JS', 'examples', 'PHP', 'html'])

print("Q3-1: \n")
sort_course = np.sort(course_name)
print(sort_course)

sort_course = np.argsort(course_name)
print(sort_course)

#Q3-2
print("\nQ3-2: \n")
letterP = np.char.startswith(course_name, "P")
print(course_name)
print(letterP)

Q3-1:

['JS' 'PHP' 'Python' 'examples' 'html']
[1 3 0 2 4]

Q3-2:

['Python' 'JS' 'examples' 'PHP' 'html']
[ True False False  True False]

**Q4. Consider the below student_id array:**

**Q4-1:** Reverse the **student_id** array. Print both original and reversed array.

**Q4-2:** Get the 3-largest values of **student_id** array.

In [ ]:
import numpy as np
student_id = np.array([1023, 5202, 6230, 1671, 1682, 5241, 4532])

In [8]:
#Q4-1
print("Q4-1: \n")
import numpy as np
student_id = np.array([1023, 5202, 6230, 1671, 1682, 5241, 4532])
print(student_id)
reversed_id = student_id[::-1]
print(reversed_id)

#Q4-2
print("\nQ4-2: \n")
sort_id = np.sort(reversed_id)
print(sort_id[-3:])

Q4-1:

[1023 5202 6230 1671 1682 5241 4532]
[4532 5241 1682 1671 6230 5202 1023]

Q4-2:

[5202 5241 6230]

# **Q5: Write a numpy program to print sum of all the multiples of 3 or 5 below 100**

In [10]:
# Type your solution here

# Hint: you can use arange to start off

import numpy as np
num = np.arange(1,100)
multiples = []
for i in range(99):
  if num[i] %3 ==0 or num[i] %5==0:
    multiples.append(num[i])
print("Sum: ", sum(multiples))

Sum:  2318

**Q6. Consider the below array.**

Q6.1. Write a code to swap column 1 with column 2.

Q6.2. Write a code to swap row 0 with row 1.

In [ ]:
import numpy as np

arr = np.arange(12).reshape(3,4)
print(arr)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [63]:
import numpy as np
print("Original: \n")
arr = np.arange(12).reshape(3,4)
print(arr)
print("\n Q6-1: \n")
arr[:, [2,1]] = arr[:,[1,2]]
print(arr)

print("\nQ6-2: \n")
arr[[0,1],:] = arr[[1,0],:]
print(arr)

Original:

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

 Q6-1:

[[ 0  2  1  3]
 [ 4  6  5  7]
 [ 8 10  9 11]]

Q6-2:

[[ 4  6  5  7]
 [ 0  2  1  3]
 [ 8 10  9 11]]